.hero-section {
    background-image: url('/hero-banner.png'); 
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.searchBar{
    .ant-input-affix-wrapper{
          border: 2px solid #4D4D4D !important;
          padding: 5px !important;
          & > .ant-input {
            font-weight: 400;
            font-family: 'Avenir', sans-serif;
            font-size: 18px;
          }
      }
  }
  .searchBarEmailForm {
    .ant-input-affix-wrapper {
      border: 1px solid #000000 !important;
      padding: 0px 0px 0px 11px !important;
  
      & > .ant-input {
        font-weight: 400;
        font-family: 'Avenir', sans-serif;
        font-size: 20px;
        color: #000000 !important;
      }
    }
  }
  